body {
  background: #d0eafc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
  margin: 0px;
  color:black;
  margin-top: 0px;
  padding: 0px;
}
.toptitle {
  background: #da5757;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 22px;
  line-height: 1px;
  margin: right 10px;
  margin-left:-2px;
  color: white;
}
img    {
  float:left;
  margin-right:10px;
  margin-bottom: 10px;
}  
.leftmenu {
  width :200px;
  height:300px;
  text-align:left;
  margin: top 0px;
  margin-bottom: 0px;
  margin-left:5px;
} 

.main {
  width: 80%;
  height:300px;
  text-align:left;
  margin :0px;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}
a {
  color:rgb(61, 61, 61);
  text-decoration:none;
  margin:0px;
}
a:hover {/*マウスが上に乗っている状態*/
  text-decoration:underline; /*←下線を表示*/
}
ul#leftmenu1 li{
  margin-top: 0;
  margin-bottom: 0;
}
.subtitle {
  border-bottom: solid 1px rgb(175, 175, 175);
  font-size:18px;
  margin-bottom: 0px;
}
.date11 {
  text-align: right;
}
.newtitle {
  background-color: #DDDDDD;
  font-weight: bold;
  font-size: 25px;
}
.nexttitle-bar {
  background-color: #610f0f;
  width: 2.5px;
  height: 35px;
  margin-top: 10px;
}
.nexttitle-text {
  margin:5px;
  font-size:25px;
  font-weight: bold;
  margin-top: -10px;
}
span {
  color: #dd4848;
}
